body {
    cursor: url('images/crosshair.png'), auto;
    margin: 0;
    width: 1903px;
    height: 936px;
    background-repeat: no-repeat;
    background-size: 1903px 936px;
    overflow: hidden;
}
#foreground {
    position: absolute;
    background-image: url("images/newForeground2.png");
    background-size: contain;
    z-index: 2;
    width: 1903px;
    height: 936px;
}

#bulletDisplay{
    display: flex;
    position: absolute;
    background-image: url("images/score-counter.png");
    background-size: 93px 63px;
    z-index: 3;
    width: 93px;
    height: 63px;
    top: 830px;
    left: 55px;
    font-size: 30pt;
    color: white;
    justify-content: center;
    align-items: center;
}

#scoreBoard{
    display: flex;
    position: absolute;
    background-image: url("images/score-counter.png");
    background-size: 158px 63px;
    z-index: 3;
    width: 158px;
    height: 63px;
    top: 830px;
    left: 1700px;
    font-size: 30pt;
    color: white;
    justify-content: center;
    align-items: center;
}
#kaboomBaby{
    position: sticky;
    background-image: url("images/flash.gif");
    background-size: 1903px 936px;
    z-index: 5;
    width: 1903px;
    height: 936px;
}
#mushroomCloud{
    position: absolute;
    background-image: url("images/blast.png");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 0;
    width: 2000px;
    height: 2000px;
    top: 269px;
    left: 10px;
    animation-name: movement;
    animation-duration: 5s;
    transform-style: preserve-3d;
}

#dog{
    position: absolute;
    background: url('images/pixelArt.png') no-repeat -5px -3px;
    background-size: 660% 500%;
    top: 650px;
    left: 70px;
    width: 10%;
    height: 20%;
    z-index: 3;
    animation-name: dogMove;
    animation-duration: 7s;
    transform-style: preserve-3d;
}

#round{
    position: absolute;
    top: 350px;
    left: 650px;
    width: 691px;
    height: 75px;
    z-index: 4;
    animation-name: scrollAnimation;
    animation-duration: 7s;
}

#gameOver{
    animation-name: fadeIn;
    animation-duration: 2s;
    position: absolute;
    width: 1903px;
    height: 936px;
    z-index: 4;
}

@keyframes scrollAnimation {
    0%{
        left:0;
    }
    50%{
        left:650px;
    }
    100%{
        left: 2500px;
    }

}

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes dogMove {
    from {
        left: 70px;
    }
    to {
        left: 802px;
    }
}

@keyframes dogJump{

    from{
        left: 902px;
        bottom: 30px;
    }
    to{
        left: 902px;
        bottom: 200px;
    }
}
@keyframes dogLaugh{
    0%{
        left: 902px;
        top: 650px;
    }
    50%{
        left: 902px;
        top: 525px;
    }
    100%{
        left: 902px;
        top: 650px;
    }
}
@keyframes dogDucks{
    0%{
        left: 902px;
        top: 650px;
    }
    50%{
        left: 902px;
        top: 545px;
    }
    100%{
        left: 902px;
        top: 650px;
    }
}
@keyframes movement{
    from{
        transform: translate(269px, 230px);
        width: 1500px;
        height: 1500px
    }
    to{
        transform: translate(0px, 0px);
        width: 2000px;
        height: 2000px;
    }
}