body {
    margin: 0;
    width: 1903px;
    height: 936px;
    /*background-image: url("images/sky_night.png");*/
    background-repeat: no-repeat;
    background-size: 1903px 936px;
}
#foreground {
    position: absolute;
    background-image: url("images/newForeground2.png");
    background-size: contain;
    z-index: 2;
    width: 1903px;
    height: 936px;
}

#bulletDisplay{
    display: flex;
    position: absolute;
    background-image: url("images/score-counter.png");
    background-size: 93px 63px;
    z-index: 3;
    width: 93px;
    height: 63px;
    top: 830px;
    left: 55px;
    font-size: 30pt;
    color: white;
    justify-content: center;
    align-items: center;
}

#scoreBoard{
    display: flex;
    position: absolute;
    background-image: url("images/score-counter.png");
    background-size: 158px 63px;
    z-index: 3;
    width: 158px;
    height: 63px;
    top: 830px;
    left: 1700px;
    font-size: 30pt;
    color: white;
    justify-content: center;
    align-items: center;
}
#kaboomBaby{
    position: sticky;
    background-image: url("images/flash.gif");
    background-size: 1903px 936px;
    z-index: 5;
    width: 1903px;
    height: 936px;
}
#mushroomCloud{
    position: absolute;
    background-image: url("images/blast.png");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 0;
    width: 2000px;
    height: 2000px;
    top: 269px;
    left: 10px;
    animation-name: movement;
    animation-duration: 5s;
    transform-style: preserve-3d;
}

#dog{
    display: flex;
    position: absolute;
    background-image: url("images/dog_walking.gif");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 3;
    width: 10%;
    height: 20%;
    top: 650px;
    left: 70px;
    animation-name: dogMove;
    animation-duration: 7s;
    transform-style: preserve-3d;
}

@keyframes dogMove {
    from {
        left: 70px;
    }
    to {
        left: 802px;
    }
}

@keyframes dogJump{

    from{
        background-image: url("images/dog_jumping.gif");
        left: 902px;
        bottom: 30px;
    }
    to{
        left: 902px;
        bottom: 80px;
    }
}
@keyframes dogLaugh{
    0%{
        background-image: url("images/dog_laugh.gif");
        left: 902px;
        top: 650px;
    }
    50%{
        background-image: url("images/dog_laugh.gif");
        left: 902px;
        top: 550px;
    }
    100%{
        background-image: url("images/dog_laugh.gif");
        left: 902px;
        top: 650px;
    }
}
@keyframes dogDucks{
    0%{
        background-image: url("images/dog_1_duck.png");
        left: 902px;
        top: 650px;
    }
    50%{
        background-image: url("images/dog_1_duck.png");
        left: 902px;
        top: 525px;
    }
    100%{
        background-image: url("images/dog_1_duck.png");
        left: 902px;
        top: 650px;
    }
}
@keyframes movement{
    from{
        transform: translate(269px, 230px);
        width: 1500px;
        height: 1500px
    }
    to{
        transform: translate(0px, 0px);
        width: 2000px;
        height: 2000px;
    }
}